html {
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
    background-color: rgb(116, 153, 141);
}
nav {
    width: calc(100% - 62px);
    border: 1px solid salmon;
    position: absolute;
    z-index: 10;
    display: flex;
    padding: 10px 30px;
}
nav * {
    border: 1px solid orangered;
}

.listInlineStyle li {
    display: inline;
    padding: 10px;
}

#navLeftSide {
    
}

#navRightSide {
    margin-left: auto;
    right: 0;
    font-family: 'inter', sans-serif;
    font-weight: 600;
    color: white;
}

header {
    position: absolute;
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

#bgVid {
    right: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
}

#introParaQup {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    background-color: white;
}

#introParaQup h2 {
    color: #5c281d;
    font-size: 3em;
    padding: 100px;
    width: 800px;
    margin: 0;
    line-height: 1;
}

main {
    z-index: 200;
    position: absolute;
    top: 90vh;
    display: flex;
    width: 100%;
    text-align: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

main * {
    
}

#businessQupSetup {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
}

.halfHalf {
    width: calc(50% - 80px);
    min-width: 300px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
}

#setupRight {
    text-align: left;
    padding: 40px;
    background-color: wheat;
    display: flex;
    align-content: center;
}

.halfHalfCopyBox {
    max-width: 500px;
    margin-left: 0;
    margin-right: auto;
    border: 1px solid salmon;
    position: relative;
    margin: auto 0;
}

.halfHalfCopyBox h3 {
    font-size: 2em;
    margin: 0;
}

#setupLeft {
    background-color: orangered;
    padding: 40px;
}

#benefitSection {
    width: 100%;
    display: flex;
    justify-content: center;
}

#benefitContent h2 {
    color: #5c281d;
    font-size: 3em;
    line-height: 1;
    margin: 0 0 30px 0;
}

#benefitContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: beige;
    justify-items: center;
    text-align: center;
    padding: 40px 0;
}

#benefitsGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid brown;
    justify-content: center;

}

.blockItem {
    display: flex;
    flex-direction: column;
    width: 250px;
    text-align: center;
    border: 1px solid salmon;
    margin: 10px;
}

.blockItemIcon {
    height: 200px;
    width: 250px;
    background-color: blueviolet;

}

#qupDemo {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
#qupDemoImage {
    width: 100%;
    height: 400px;
    background-color: palevioletred;
}

#qupDemoUSP {
    display: inline-flex;
    justify-content: center;
}

.blockItemIcon {
    position: relative;

}